@import "./_shashankastyle";

// Digiral clock
.digital-clock{
    margin: auto;
    width: fit-content;
    .digital-clock-body{
        width: 100%;
        background:linear-gradient(rgb(189, 189, 189),white,white,white,rgb(190, 190, 190));
        border: 2px solid gray;
        padding: 0.12em 0.5em;
        border-radius: 5px;
        div{
            width: 3rem;
            height: 2rem;
            background:linear-gradient(rgb(189, 189, 189),white,white,white,rgb(190, 190, 190));
            margin: 0.5rem 0.3rem;
            border-radius: 3px;
            box-shadow: 0 0 5px 0 black;
            font-weight: bold;
            color:  rgb(63, 44, 44);
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }
    .alarm-body{
        width: 100%;
        background:linear-gradient(rgb(189, 189, 189),white,white,white,rgb(190, 190, 190));
        border: 2px solid gray;
        padding: 0.12em 0.5em;
        border-radius: 5px;
        .alarm-notifier{
            font-weight: bolder;
            border-bottom: 2px solid rgb(194, 194, 194);
            margin-bottom: 0.12em;
        }
        .alarm-input{
            display: none;
            label{
                font-size: 0.6rem;
                font-weight: bold;
            }
            input, select{
                text-align: center;
                width: 3.5rem;
                height: 2rem;
                background:linear-gradient(rgb(189, 189, 189),white,white,white,rgb(190, 190, 190));
                margin: 0.25rem 0;
                border: none;
                border-radius: 3px;
                box-shadow: 0 0 5px 0 black;
                font-weight: bold;
                color:  rgb(63, 44, 44);
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
            .ok-button{
                height: 2rem;
                background:linear-gradient(rgb(189, 189, 189),white,white,white,rgb(190, 190, 190));
                margin: 0.25rem 0;
                border-radius: 3px;
                box-shadow: 0 0 5px 0 black;
                font-weight: bold;
                color:  rgb(63, 44, 44);
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
        }
        .stop-alarm{
            display: none;
            width: 100%;
            height: 2rem;
            background:linear-gradient(rgb(189, 189, 189),white,white,white,rgb(190, 190, 190));
            margin: 0.25rem 0;
            border-radius: 3px;
            box-shadow: 0 0 5px 0 black;
            font-weight: bold;
            color:  rgb(63, 44, 44);
            text-align: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    }
}

// Analog clock
.analog-clock{
    margin: 2em auto;
    background: radial-gradient(rgb(180, 179, 197),gray);
    width: 250px;
    height: 280px;
    border-radius: 50%;
    box-shadow: inset 0 0 10px gray,
                0 0 0 5px gold,
                0 0 50px 2px gray;
    position: relative;

    div{
        background:radial-gradient(rgb(250, 238, 172),rgb(240, 204, 0));
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: left;
        transition: all 0.05s;
        transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    }

    #hour-hand{
        width: 30%;
        height: 6px;
    }
    #minuite-hand{
        width: 40%;
        height: 3px;        
    }
    #seccond-hand{
        width: 45%;
        height: 1px;
    }
}

// .alarm-animator
















footer{
    position: fixed;
    top: 95vh;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
    color: green;
    font-weight: bold;
}



@import "./responsive";